{% extends 'base.html.twig' %}
{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <h1>{{ article.name }}</h1>
    <p>{{ article.address }}</p>
    <p>{{ article.number_of_employee }}</p>
    <hr>
    <a href="/" class="">Go Back</a>
{% endblock %}